tickTime={{ zk_tickTime }}
dataDir={{ zk_dataDir }}
clientPort={{ zk_clientPort }}
initLimit={{ zk_initLimit }}
syncLimit={{ zk_syncLimit }}
admin.enableServer={{ zk_enable_adminrsv | lower }}
4lw.commands.whitelist=*

{% for g in group_names %}
  {% if (g | regex_search('^zk_cluster')) %}
    {% for m in groups[g] %}
server.{{ hostvars[m]['zk_id'] }}={{ m }}:{{ zk_port_leader }}:{{ zk_port_leaderelect }}
    {% endfor %}
  {% endif %}
{% endfor %}
